body {
    font-family: SCoreDreamRegular;
}

.isaac {
    position: fixed;
    right: 5%;
}

@font-face {
    font-family: SCoreDreamRegular;
    src: url("https://github.com/SCY42/scy42.github.io/blob/main/LemnimSoonung/fonts/SCDream4.otf") format("opentype");
}
