body {
    font-family: SCoreDreamRegular;
}

.isaac {
    position: fixed;
    right: 5%;
}

@font-face {
    font-family: SCoreDreamRegular;
    src: url("./fonts/SCDream4.otf") format("opentype");
}
