body {
    font-family: SCoreDreamRegular;
    font-size: larger;
}

.isaac {
    position: fixed;
    right: 0px;
    top: 0px;
}

.slugcatrainbow {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

@font-face {
    font-family: SCoreDreamRegular;
    src: url("./fonts/SCDream4.otf") format("opentype");
}

.subjectTitle {
    background-color: aqua;
    box-sizing: border-box;
    padding-left: 5px;
    margin: 10px;
}

.coll {
    background-color:aquamarine;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}